<section class="headerSection" style=" padding: 0px; margin: auto; ">
        <div class="HeaderFixedBox">
            <div class="topHeader container">

                <div class="headerItems">

                    <div class="headerLogoAndImg">
                        <div class="menuBtn">
                            <i class="fas fa-bars"></i>
                        </div>
                    </div>

                    <div class="logo">
                        <a href="/">
                         <img   src="/upload/logo 4.png" style="cursor: pointer; width: 100%;" />
                        </a>
                    </div>

                    <div class="header">
                        
                        <div class="headerUserProfileDetials">

                             <!-- <div class="cartIcone">
                                <a href="#">
                                    <i class="fas fa-shopping-cart"></i>
                                    <span class="notificationStatus"></span>
                                </a>
                            </div> -->
                            <%if(currentUser.userType == "Admin"){%>
                            <div class="notifiationIcone">
                                <a href="/notification">
                                    <i class="fas fa-bell"></i>
                                    <span class="notificationStatus"><%=notApprovedUser%></span>
                                </a>
                            </div> 
                            <%}%>
                            <div class="headerUserProfileImg">
                                <img src="/assets/images/profile.png">
                                
                            </div> 
                             <div class="profileDteialsDropDown">
                                <ul>
                                    <li>
                                        <a href="#">Profile</a>
                                    </li>
                                    
                                    <li>
                                        <a href="logout">Logout</a>
                                    </li>
                                </ul>
                            </div> 
                            <!-- <span class="currentUserName">
                                <%=currentUser.firstname%>
                            </span> -->
                        </div>
                    </div>



                </div>
            </div>
        </div>
    </section>