<div class="sideBar">

    <div class="leftSideBarBox">


        <!-- side bar item sbox -->
        <div class="sideBarItemBox">
            <div class="dropDownMenu dropDownAble">
                <span> <i class="fas fa-tachometer-alt"></i> Dashboard</span>
                <span class="dropDownIcone">&#10094;</span>
            </div>
            <ul class="sideBarMenuDropDownList" id="slideMenu_1">

                <li>
                    <a href="#">E-cmmerce</a>
                </li>
                <li>
                    <a href="#">Management</a>
                </li>
                <li>
                    <a href="#">Default</a>
                </li>
                <li>
                    <a href="#">Taken</a>
                </li>
            </ul>
        </div>
        <div class="sideBarItemBox">

            <div class="dropDownMenu">

                <span> <i class="fas fa-calendar-alt"></i> Calender</span>

            </div>
        </div>
        <div class="sideBarItemBox">

            <div class="dropDownMenu">

                <span><i class="fas fa-comments"></i> Chat</span>

            </div>
        </div>
        <div class="sideBarItemBox">
            <div class="dropDownMenu dropDownAble">
                <span><i class="fas fa-envelope-open"></i> Email</span>
                <span class="dropDownIcone">&#10094;</span>
            </div>
            <ul class="sideBarMenuDropDownList" id="slideMenu_2">

                <li>
                    <a href="#">Chat</a>
                </li>
                <li>
                    <a href="#">Messages</a>
                </li>

            </ul>
        </div>

        <div class="sideBarItemBox">
            <div class="dropDownMenu dropDownAble">
                <span><i class="fas fa-calendar-week"></i> Events</span>
                <span class="dropDownIcone">&#10094;</span>
            </div>
            <ul class="sideBarMenuDropDownList" id="slideMenu_3">

                <li>
                    <a href="#">Create an Event</a>
                </li>
                <li>
                    <a href="#">Event Details</a>
                </li>
                <li>
                    <a href="#">Event list</a>
                </li>
            </ul>
        </div>

        <div class="sideBarItemBox">
            <div class="dropDownMenu dropDownAble">
                <span><i class="fas fa-shopping-cart"></i> Ecommerce</span>
                <span class="dropDownIcone">&#10094;</span>
            </div>
            <ul class="sideBarMenuDropDownList" id="slideMenu_4">
                <li>
                    <a href="#">Products</a>
                </li>
                <li>
                    <a href="#">Order</a>
                </li>
                <li>
                    <a href="/customers">Customers</a>
                </li>
                <li>
                    <a href="#">Shopping Cart</a>
                </li>
                <li>
                    <a href="#">Checkout</a>
                </li>
                <li>
                    <a href="#">Billing</a>
                </li>
                <li>
                    <a href="/generate-invoice">generate-invoice</a>
                </li>
                <li>
                    <a href="/invoice-list">Invoice List</a>
                </li>
            </ul>
        </div>

        <div class="sideBarItemBox">
            <div class="dropDownMenu dropDownAble">
                <span> <i class="fas fa-share-alt"></i> Social</span>
                <span class="dropDownIcone">&#10094;</span>
            </div>
            <ul class="sideBarMenuDropDownList" id="slideMenu_5">
                <li>
                    <a href="#">Feed</a>
                </li>
                <li>
                    <a href="#">Followers</a>
                </li>
                <li>
                    <a href="#">Notification</a>
                </li>

            </ul>
        </div>

        <div class="sideBarItemBox">
            <div class="dropDownMenu dropDownAble">
                <span> <i class="fas fa-layer-group"></i> Mulit Lever</span>
                <span class="dropDownIcone">&#10094;</span>
            </div>
            <ul class="sideBarMenuDropDownList" id="slideMenu_6">
                <li>
                    <a href="#">Level One</a>
                </li>
                <li>
                    <a href="#">Level Two</a>
                </li>
                <li>
                    <a href="#">Level Three</a>
                </li>

            </ul>
        </div>

        <div class="sideBarItemBox">
            <div class="dropDownMenu dropDownAble">
                <span> <i class="fas fa-file-alt"></i>Forms</span>
                <span class="dropDownIcone">&#10094;</span>
            </div>
            <ul class="sideBarMenuDropDownList" id="slideMenu_7">
                <li>
                    <a href="#">Basic</a>
                </li>
                <li>
                    <a href="#">Advance</a>
                </li>
                <li>
                    <a href="#">Validation</a>
                </li>
            </ul>
        </div>

    </div>
</div>